name: Build & Deploy Flutter Web with Mapbox

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - uses: actions/checkout@v3

      # Setup Flutter
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.0"
          cache: true

      # Get dependencies
      - name: Install dependencies
        run: cd app && flutter pub get

      # Build Web with Mapbox Token
      - name: Build Flutter Web with Mapbox
        run: |
          cd app
          flutter build web --release \
            --dart-define=MAPBOX_ACCESS_TOKEN=${{ secrets.MAPBOX_PUBLIC_TOKEN }}
